<div class="ageny-card" id="{{ agency_slug }}">
    <div class="ageny-header">
    </div>
    <div class="agency-content">
      <h3>{{ repo.name }}</h3>
      <!-- <p>{{ repo.description }}</p> -->
      <!-- <div class="tool-tags">
        {% for tag in agency.tags %}
        <span class="agency-tag">{{ tag }}</span>
        {% endfor %}
      </div> -->
      <!-- <a href="{{ agency.homepage }}" target="_blank" class="btn">
        {% if agency.link_type == "agency" %} Open Agency {% else %} View on GitHub {% endif %}
      </a> -->
    </div>
  </div>