<div class="agency-cards">
  <div class="agency-card">
    <div class="usa-card__container border-base-light radius-0 border-1px hover:shadow-2 card-list-item">
      <div class="usa-card__media usa-card__media--inset display-block pin-top pin-right">
        🏥
      </div>
      <header class="usa-card__header grid-col-9">
        <h3 class="usa-card__heading font-heading-lg margin-top-0">
          <a href="" target="_blank" rel="noopener noreferrer">{{ agency.agency }}</a>
        </h3>
      </header>
      <ul class="width-full usa-card__body font-body-3xs padding-bottom-3 border-bottom-1px border-base-light">
        <li>
          <span class="text-bold">Code.JSON: </span>
          <a href=" " target="_blank" rel="noopener noreferrer">PLACE HOLDER</a>
        </li>
      </ul>
      <div class="usa-card__footer font-body-3xs padding-bottom-1 padding-top-1px grid-container margin-0">
        <div class="grid-row margin-bottom-105">
          <ul class="display-inline-block tablet:grid-col-9 desktop:grid-col-10 grid-col-12 padding-0">
            <li>
              <span class="text-bold">
                Organizations: 
              </span>
              {% for org in agency.orgs %}
              <span>
                <a href="{{ release.repositoryURL }}">{{ org }}</a>
              </span>
              {% endfor %}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% for release in agency.releases %}
  <ol>
    <li>{{ release.status }}</li>
  <!-- {% for platform in release.platforms %} -->
    <li>
      {{ platform }}
    </li>
  <!-- {% endfor %} -->
   {% for language in release.languages %}
   <li>{{ language }}</li>
   {% endfor %}
  </ol>
  {% endfor %}
</div>


<!-- <ol>
    <li>{{ agency.version }}</li>
    <li>{{ agency.measurementType }}</li>
    {% for release in agency.releases %}
      <ul>
        <li>{{ release.organization }}</li>
        <li>{{ release.name }}</li>
        <li>{{ release.description }}</li>
        <li>{{ release.longDescription }}</li>
        <li>{{ release.status }}</li>
        <li>{{ release.licenseName }}</li>
        <li>{{ release.licenseURL }}</li>
        <li>{{ release.usageType }}</li>
        <li>{{ release.exemptionText }}</li>
        <li>{{ release.repositoryURL }}</li>
        <li>{{ release.vcs }}</li>
        <li>{{ release.laborHours }}</li>
        {% for platform in release.platforms %}
        <li>
          {{ platform }}
        </li>
        {% endfor %}
        {% for category in release.categories %}
        <li>
          {{ category }}
        </li>
        {% endfor %}
        <li>{{ release.softwareType }}</li>
        {% for language in release.languages %}
        <li>
          {{ language }}
        </li>
        {% endfor %}
        <li>{{ release.dateCreated }}</li>
        <li>{{ release.dateLastModified }}</li>
        <li>{{ release.dateMetaLastUpdated }}</li>
        {% for tag in release.tags %}
        <li>
          {{ tag }}
        </li>
        {% endfor %}
        <li>{{ release.contactEmail }}</li>
        <li>{{ release.contactName }}</li>
        <li>{{ release.localisation }}</li>
        <li>{{ release.repositoryType }}</li>
        <li>{{ release.userInput }}</li>
        <li>{{ release.fismaLevel }}</li>
        <li>{{ release.group }}</li>
        <li>{{ release.subsetInGovernment }}</li>
        <li>{{ release.usageType }}</li>
        <li>{{ release.repositoryHost }}</li>
        <li>{{ release.maturityModelTier }}</li>
        <li>{{ release.projectType }}</li>
      </ul>
    {% endfor %}
  </ol> -->