<div class="grid-container usa-footer__return-to-top"><a href="#home" class="text-bold font-body-3xs">Return to
    top</a>
</div>
<div class="usa-footer__primary-section bg-primary-lighter padding-0" data-test="links">
  <nav class="usa-footer__nav tablet-lg:padding-top-0 border-bottom-0">
    <ul class="grid-row grid-gap">
      <li
        class="grid-col-12 tablet-lg:grid-col-auto usa-footer__primary-content font-body-3xs margin-bottom-0 border-top-0">
        <a class="usa-footer__primary-link padding-bottom-1 padding-top-0 tablet-lg:padding-y-2 text-base-dark"
          href="{{ "/about/" | url }}"><span class="text-base-dark">About</span></a>
      </li>
      <li
        class="grid-col-12 tablet-lg:grid-col-auto usa-footer__primary-content font-body-3xs margin-bottom-0 border-top-0">
        <a class="usa-footer__primary-link padding-bottom-1 padding-top-0 tablet-lg:padding-y-2 text-base-dark"
          href="{{ "/privacy-policy/" | url }}"><span class="text-base-dark">Privacy
            Policy</span></a>
      </li>
      <li
        class="grid-col-12 tablet-lg:grid-col-auto usa-footer__primary-content font-body-3xs margin-bottom-0 border-top-0">
        <a class="usa-footer__primary-link padding-bottom-1 padding-top-0 tablet-lg:padding-y-2 text-base-dark"
          href="https://www.gsa.gov/reference/freedom-of-information-act-foia" target="_blank"
          rel="noopener noreferrer"><span class="text-base-dark">FOIA</span></a>
      </li>
      <li
        class="grid-col-12 tablet-lg:grid-col-auto usa-footer__primary-content font-body-3xs margin-bottom-0 border-top-0">
        <a class="usa-footer__primary-link padding-bottom-1 padding-top-0 tablet-lg:padding-y-2 text-base-dark"
          href="https://www.gsa.gov/website-information/website-policies#accessibility" target="_blank"
          rel="noopener noreferrer"><span class="text-base-dark">Accessibility</span></a>
      </li>
      <li
        class="grid-col-12 tablet-lg:grid-col-auto usa-footer__primary-content font-body-3xs margin-bottom-0 border-top-0">
        <a class="usa-footer__primary-link padding-bottom-1 padding-top-0 tablet-lg:padding-y-2 text-base-dark"
          href="https://www.usa.gov/" target="_blank" rel="noopener noreferrer"><span
            class="text-base-dark">USA.GOV</span></a>
      </li>
    </ul>
  </nav>
</div>
<div class="usa-footer__secondary-section tablet-lg:bg-white bg-white" data-test="logos">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="usa-footer__logo grid-col-12 tablet-lg:grid-col-8">
        <div><a href="https://www.gsa.gov/" target="_blank" rel="noopener noreferrer" class="text-no-underline">
            {% image_with_class "assets/_common/_img/GSA.png" "maxw-15 padding-right-2 display-none tablet-lg:display-inline" "U.S. General Services Administration logo" %}
            <div class="mobile-lg:grid-col-auto tablet-lg:display-inline">
              <h3
                class="usa-footer__logo-heading usa-footer__primary-link font-body-3xs text-primary text-bold tablet-lg:display-inline padding-left-0">
                U.S. General Services Administration</h3>
            </div>
          </a></div>
      </div>
      <div
        class="usa-footer__contact-links tablet-lg:grid-offset-1 tablet-lg:padding-top-5 text-left tablet-lg:grid-col-3">
        <p class="padding-right-1 margin-top-0 font-body-3xs tablet-lg:grid-col-6 tablet-lg:grid-offset-6 grid-col-12">
          <a href="mailto:code@gsa.gov">code@gsa.gov</a>
        </p>
        <ul class="usa-footer__social-links grid-row flex-justify-start padding-0 margin-top-205"
          style="list-style-type: none;" data-test="socials">
          <li class="grid-col-12 tablet-lg:grid-col-3 tablet-lg:margin-top-neg-1 margin-top-1"><a
              href="https://github.com/GSA/code-gov" target="_blank" rel="noopener noreferrer"
              aria-label="Code.gov on GitHub" class="font-body-xl">
              {% image "./node_modules/@uswds/uswds/dist/img/usa-icons/github.svg" "github" %}
            </a></li>
          <li class="grid-col-12 tablet-lg:grid-col-3 tablet-lg:margin-top-neg-1 margin-top-1">
            <a href="https://www.twitter.com/codedotgov" target="_blank" rel="noopener noreferrer"
              aria-label="Code.gov on Twitter" class="font-body-xl">
              {% image "./node_modules/@uswds/uswds/dist/img/usa-icons/twitter.svg" "twitter" %}
            </a>
          </li>
          <li class="grid-col-12 tablet-lg:grid-col-3 tablet-lg:margin-top-neg-1 margin-top-1">
            <a href="https://medium.com/codedotgov" target="_blank" rel="noopener noreferrer"
              aria-label="Code.gov on Twitter" class="font-body-xl">
              {% image "./assets/_common/_img/medium.svg" "medium" %}
            </a>
          </li>
          <li class="grid-col-12 tablet-lg:grid-col-3 tablet-lg:margin-top-neg-1 margin-top-1">
            <a href="https://www.linkedin.com/company/code-gov/" target="_blank" rel="noopener noreferrer"
              aria-label="Code.gov on LinkedIn" class="font-body-xl">
              {% image "./node_modules/@uswds/uswds/dist/img/usa-icons/linkedin.svg" "linkedin" %}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>